*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 16px;
}

.links > ul {
    display: flex;
    list-style: none;
    gap: 16px;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 500;
}