*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
}

.navbar, .header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 16px 256px;
}

.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

.links > ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 500;
}

.header {
    gap: 32px;
    padding: 96px 256px;
}

.header-image > img {
    max-width: 400px;
    height: auto;
}

.header-block > h2 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 8px;
}

.header-block > p {
    margin-bottom: 16px;
}

.header-block > button {
    all: unset; /* remove default button style */
    background-color: #3882f6;
    color: #f9faf8;
    padding: 12px 32px;
    border-radius: 12px;
}

.text-boxes {
    background-color: #fff;
    padding: 32px 256px 128px;
}

.text-boxes > h2 {
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    margin-bottom: 64px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
}

.box > i {
    font-size: 64px;
}

.box > p {
    width: 192px;
    text-align: center;
    font-size: 18px;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    padding: 128px 256px;
}

#quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 8px;   
}

#author {
    text-align: end;
    font-weight: 700;
}



.cta {
    background-color: #fff;
    padding: 112px;
    
}

.cta-box {
    background-color: #3882f6;
    padding: 64px 128px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    font-size: 24px;
    color: #e5e7eb;
}

#main-cta {
    color: #f9faf8;
    font-weight: 700;
    margin-bottom: 8px;
}

.cta-box > button {
    all: unset; /* remove default button style */
    border: 2px solid #f9faf8;
    color: #f9faf8;
    padding: 8px 32px;
    border-radius: 12px;
    align-self: flex-end;
}

footer {
    background-color: #1f2937;
    padding: 16px 0px;
    text-align: center;
    color: #f9faf8;
    font-weight: 300;
}